* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Jumpman;
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(assets/island.png);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}
.nav-area li {
	display: inline-block;
}
.nav-area li a {
	color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: Jumpman;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-area li a:hover {
	background: #fff;
	color: #333;
}
.logo {
	float: left;
}

.banan {
    background:gray;
    width:200px;
    height:200px;
    cursor: url(assets/banan.gif), auto;
}

.logo img {
	width: 100%;
	padding: 15px 0;
}
.welcome-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}
.welcome-text h1 span {
	color: #fe0000;
}

.welcome-text a:hover {
	background: #fff;
	color: #333;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
	position: relative;
}
  
  /* Hide the images by default */
  .mySlides {
	display: none;
}
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
	cursor: pointer;
}

.all-browsers {
	margin: 0;
	padding: 5px;
	background-color: lightgray;
}
  
  .all-browsers > h1, .browser {
	margin: 10px;
	padding: 5px;
}
  
  .browser {
	background: white;
}
  
  .browser > h2, p {
	margin: 4px;
	font-size: 90%;
}
  
  footer {
	text-align: center;
	padding: 3px;
	background-color: rgb(34, 34, 34);
	color: white;
}
  
  /* Next & previous buttons */
  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}
  
  /* Number text (1/3 etc) */
  .numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
  
  /* Container for image text */
  .caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}
  
  .row:after {
	content: "";
	display: table;
	clear: both;
}
  
  /* Six columns side by side */
  .column {
	float: left;
	width: 16.66%;
}
  
  /* Add a transparency effect for thumnbail images */
  .demo {
	opacity: 0.6;
}
  
  .active,
  .demo:hover {
	opacity: 1;
}

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: 50%;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
}
